
/***************************
 * ULNARIS MAIN STYLESHEET *
 ***************************/

@font-face {
	font-family: 'helvetica-neue';
	src: url('../fonts/HelveticaNeue-Light.woff') format('woff'),
		 url('../fonts/HelveticaNeue-Light.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica-neue-bold';
	src: url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
		 url('../fonts/HelveticaNeue-Bold.otf')  format('opentype');
	font-weight: bold;
	font-style: bold;
}

body {
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #FFF;
}

.step-container {
	display: block;
	width: 2048px;
	height: 768px;
	position: relative;
	font-family: 'helvetica-neue' !important;
}

.ulnaris-title {
	position: absolute;
	top: 20px;
	left: 20px;

	font-size: 70px !important;
	font-family: 'helvetica-neue-bold' !important;
	text-align: left !important;
}

.ulnaris-content {
	position: absolute;
	left: 20px;
	top: 110px;

	font-size: 38px !important;
	text-align: justify !important;
}

.ulnaris-list {
	list-style: none;
	margin-left: 20px !important;
	text-align: justify !important;
}

.ulnaris-sublist {
	font-size: 32px !important;
	list-style: none !important;
	text-align: justify !important;
	margin-left: 80px !important;
}

.ulnaris-list li,
.ulnaris-sublist li {
	margin-top: 8px !important;
}

.ulnaris-list li:before {
	float: left;
	margin-top: 10px;
	margin-right: 10px;

	font-family: 'FontAwesome';
	font-size: 18px !important;
	color: #24badf;
	content: '\f111';
}

.ulnaris-sublist li:before {
	margin-top: 14px;

	font-family: 'FontAwesome';
	font-size: 18px !important;
	color: #fff;
	content: '\f068';
}

.logo-be {
	width: 110px;
	height: 80px;
	position: relative;
	float: left;
	background: url("../img/intro-be.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin-top: -10px !important;
	margin-right: 10px !important;
}