#bienvenidos .step-container > div {
	position: absolute;
}

#bienvenidos .step-container > div:nth-child(1) {
	z-index: -100;
}

#bienvenidos .step-container > div:nth-child(2) {
	width: 400px;
	top: 100px !important;
	left: 1000px;
}

#bienvenidos .step-container > div:nth-child(3) {
	width: 150px;
	left: 1000px;
	top: 300px;
}

#bienvenidos .step-container > div:nth-child(4) {
	width: 800px;
	left: 1182px;
	top: 330px;
}

#bienvenidos .step-container > div:nth-child(5) {
	width: 800px;
	left: 1000px;
	top: 480px;
}

#bienvenidos .ulnaris-title span {
	font-size: 130px !important;
}

#bienvenidos .ulnaris-content span {
	font-size: 70px !important;
	font-weight: bold;
}