#escenario-para-negocios-tic .step-container {
	background: url(../../img/back01.png) 0 0 no-repeat;
	-webkit-background-size: cover;
}

#escenario-para-negocios-tic .step-container div {
	position: absolute;
}

#listUno {
	position: absolute;
	width: 800px;
	left: 100px;
	top: 100px !important;
}

#listDos {
	position: absolute;
	width: 800px;
	left: 1124px;
	top: 100px !important;
}

#escenario-para-negocios-tic .ulnaris-content {
	font-size: 35px;
}
