#estructura-ingram .step-container {
	background: url(../../img/back01.png) 0 0 no-repeat;
	-webkit-background-size: cover;
}

#estructura-ingram .step-container div {
	position: absolute;
	text-align: center;
	width: 130px;
}

#estructura-ingram .step-container div:nth-child(1) {
	top: 0px;
}

#estructura-ingram .step-container div:nth-child(2) {
	width: 150px !important;
	left: 947px;
	top: 160px;
}

#estructura-ingram .step-container div:nth-child(3) {
	left: 100px;
	top: 380px;
}

#estructura-ingram .step-container div:nth-child(4) {
	left: 255px;
	top: 380px;
}

#estructura-ingram .step-container div:nth-child(5) {
	left: 410px;
	top: 380px;
}

#estructura-ingram .step-container div:nth-child(6) {
	left: 565px;
	top: 380px;
}

#estructura-ingram .step-container div:nth-child(7) {
	left: 720px;
	top: 380px;
}

#estructura-ingram .step-container div:nth-child(8) {
	left: 875px;
	top: 380px;
}

#estructura-ingram .step-container div:nth-child(9) {
	left: 1030px;
	top: 380px;
}

#estructura-ingram .step-container div:nth-child(10) {
	left: 1185px;
	top: 380px;
}

#estructura-ingram .step-container div:nth-child(11) {
	left: 1340px;
	top: 380px;
}

#estructura-ingram .step-container div:nth-child(12) {
	left: 1495px;
	top: 380px;
}

#estructura-ingram .step-container div:nth-child(13) {
	left: 1650px;
	top: 380px;
}

#estructura-ingram .step-container div:nth-child(14) {
	left: 1805px;
	top: 380px;
}

#estructura-ingram .step-container div:nth-child(15) {
	width: 780px !important;
	left: 1170px;
	top: 340px;
	z-index: 2;
}

#estructura-ingram .ulnaris-content {
	font-size: 25px;
}

#estructura-ingram .ulnaris-title-center {
	position: absolute;
	width: 100%;
	top: 0px;
	font-family: 'helvetica-neue-bold' !important;
	text-align: center !important;
	font-size: 60px !important;
}