#haciadondevamos .step-container div:nth-child(1) {
	width: 2048px;
	left: 0px;
	top: 0px;
	z-index: -100;
}

#haciadondevamos .step-container div:nth-child(2) {
	width: 600px;
	top: 400px !important;
	left: 100px;
}

#haciadondevamos .ulnaris-title {
	font-size: 90px !important;
}
