
img {
	width: 100%;
	height: auto;
}

#intro .step-container {
	background: url(../../img/intro-background.png) 0 0 no-repeat;
	-webkit-background-size: cover;
}

#intro .step-container div {
	position: absolute;
}

#intro .step-container div:nth-child(1) {
	width: 219px;
	left: 368px;
	top: 90px;
}

#intro .step-container div:nth-child(2) {
	width: 558px;
	left: 368px;
	top: 284px;
}

#intro .step-container div:nth-child(3) {
	width: 722px;
	left: 292px;
	top: 550px;
}
