#logros .step-container div {
	position: absolute;
}

#logros .step-container div:nth-child(1) {
	width: 2048px;
    height: 768px;
	left: 0px;
	top: 0px !important;
	z-index: -100;
}

#logros .step-container div:nth-child(2) {
	width: 600px;
}
