img {
    width: 100%;
    height: auto;
}

#logros2 .step-container {
    background: url(../../img/logros-2.png) 0 0 no-repeat;
    -webkit-background-size: cover;
    z-index: -100;
}
#logros2 .step-container div {
	position: absolute;
}

#logros2 .step-container div:nth-child(1) {
	width: 2048px;
    height: 768px;
	left: 0px;
	top: 0px !important;
	z-index: -100;
}

#logros2 .step-container div:nth-child(2) {
	width: 1200px;
    left: 500px;
}

#logros2 .ulnaris-video-fs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#logros2 .ulnaris-video-fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}