#marketing .step-container div:nth-child(1) {
	width: 2048px;
	left: 0px;
	top: 0px;
	z-index: -100;
}

#marketing .step-container div:nth-child(2) {
	width: 500px;
	top: 260px !important;
	left: 120px;
}

#marketing .step-container div:nth-child(3) {
	width: 900px;
	top: 400px;
	left: 95px;
}

#marketing .ulnaris-title {
	font-size: 80px !important;
}

#marketing .ulnaris-content {
	font-size: 75px !important;
	text-align: left !important;
}
