
#listUno {
	position: absolute;
	width: 800px;
	left: 100px;
	top: 0px;
}

#listDos {
	position: absolute;
	width: 800px;
	left: 1124px;
	top: 0px;
}

#perspectivas .ulnaris-content {
	font-size: 35px;
}