#perspectivas .step-container {
	background: url(../../img/back01.png) 0 0 no-repeat;
	-webkit-background-size: cover;
}

#listUno {
	position: absolute;
	width: 800px;
	left: 100px;
	top: 0px;
}

#listDos {
	position: absolute;
	width: 800px;
	left: 1124px !important;
	top: 0px !important;
}

#perspectivas .ulnaris-content {
	font-size: 35px;
}