
img {
	width: 100%;
	height: auto;
}

#porque-be .step-container {
	background: url(../../img/intro-background.png) 0 0 no-repeat;
	-webkit-background-size: cover;
}

#porque-be .step-container div {
	position: absolute;
}

#porque-be .step-container div:nth-child(1) {
	width: 420px;
	left: 200px;
	top: 130px;
}

#porque-be .step-container div:nth-child(2) {
	width: 170px;
	left: 200px;
	top: 300px;
}

#porque-be .ulnaris-title {
	width: 350px;
	left: 0px;
	top: 55px;
}

#porque-be .ulnaris-content {
	font-size: 42px !important;
	width: 650px;
	left: 220px;
	top: 500px;
}